# Dependency directories
node_modules/

# Build outputs
dist/
build/
android/app/build/
ios/Pods/
web-build/

# Expo files
.expo/
.expo-shared/

# Secrets
.env
firebase.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Editor directories and files
.vscode/
.idea/

# TypeScript cache
*.tsbuildinfo

# Firebase
.firebase/
